<%- include('../partials/header.ejs') %> <%- include('./nav.ejs') %>
<div class="container">
  <div class="flex-container">
    <h3><%= journal.title %></h3>
    <span>Date: <%= journal.date %> </span>
    <article>
      <p><%= journal.intro %></p>
      <p><%= journal.emoticonIntro %></p>
      <p><%= journal.context %></p>
      <p><%= journal.emoticonContext %></p>
      <p><%= journal.climax %></p>
      <p><%= journal.emoticonClimax %></p>
      <p><%= journal.conclusion %></p>
      <p><%= journal.emoticonConclusion %></p>
    </article>
    <h4>Journal Admin</h4>
    <div>
      <a href="/journals/<%= journal.id %>/edit">Edit this entry</a>
    </div>
    <form method="POST" action="/journals/<%= journal.id %>?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE" />
      <button class="btn btn-danger">Delete this entry</button>
    </form>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
